.header-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #AFAEAE;
}
.header-div{
    width: 36px;
    height: 15px;
    padding-top: 3px;
    font-size: 10px;
    font-weight: 500;
    line-height: 8.47px;
    text-align: center;

}